<nav class="bottom-line navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-brand right-vertical-line">
			<img src="../imgs/logo.png" id="logo"/>
		</div>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto right-align">
				<li class="nav-item">
					<a class="nav-link {{home}}" href="/home">Home </a>
				</li>
				{{#unless hide}}
				<li class="nav-item">
					<a class="nav-link {{task}}" href="/tasks">Task List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{create}}" href="/create">Create Task</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{template}}" href="/templates">Browse Templates</a>
				</li>
				{{/unless}}
			</ul>
		</div>
		{{#if signin}}
		<form class="navbar-form navbar-right" action="/login" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Sign In</button>
                </form>

		{{/if}}
	</nav>