<script type="text/javascript" src="../scripts/create.js"></script>


	<div class="vertical-align-15 left-align">
		<h2> Review the information you provided. </h2>
	</div>

	<div style="width: 90%" class="form-card left-align">
		<h7> Title </h7>
		<div id="title" {{#if title}} {{else}} style="height: 30px" {{/if}} class="text-placeholder"> {{title}} </div>

		<br>

		<h7> Location </h7>
		<div id="location-words" {{#if location}} {{else}} style="height: 30px" {{/if}} class="text-placeholder"> </div>
		<div style="margin-top: 1%; height: 300px" id="location-map"> </div>

		<br>

		<h7> Description </h7>
		<div id="description" {{#if description}} {{else}} style="height: 30px" {{/if}} class="text-placeholder"> {{description}} </div>

		<br>

		<h7> Instructions </h7>
		<div id="instructions" {{#if instructions}} {{else}} style="height: 30px" {{/if}} class="text-placeholder">{{instructions}} </div>

		<br>

		<div class="row" >
			<div class="col-md-4">
				<h7> Severity of Impacted Region </h7>
				<div id="severity" class="text-placeholder">{{severity}} </div>
			</div>
			<div class="col-md-3">
				
		<h7> Number of Volunteers</h7>
		<div id="num_volunteers" {{#if num_volunters}} {{else}} style="height: 30px" {{/if}} class="text-placeholder">{{num_volunteers}}</div>
			</div>

			<div class="col-md-5">
				<h7> Date and Time </h7>
				<div id="clock-text" class="text-placeholder"> {{start_time}}</div>
			</div>
		</div>
				<br>


		<h7> Disclaimers </h7>
		<div id="disclaimers-text" {{#if disclaimers}} {{else}} style="height:100px" {{/if}} class="text-placeholder"> 
			{{#if disclaimers}}
			{{#list disclaimers}}
				<p>{{name}}</p>
			{{/list}}
			{{else}}
				<p style="margin-left: 1%"> There are currenly no disclaimers. </p>
			{{/if}}
		</div>

		<br>

		<h7> Skills </h7>
		<div id="skills-text" {{#if skills}} {{else}} style="height:100px" {{/if}}  class="text-placeholder">
		{{#if skills}}
			{{#each skills}}
				<p> <b>{{groupName}} </b><p>
				{{#list skills}}
					<p> {{name}}

					 {{#if extra}}
					 	: {{extra}}
					 {{/if}}

					 </p>
				{{/list}}
			{{/each}}
		{{else}}
				<p style="margin-left: 1%"> There are currenly no required skills. </p>
		{{/if}}
		 </div>	

		
	</div>


		<div style="margin-left: 15%">
			<button style="width: 40%" id="edit-task" type="submit" class="btn-group-mem btn btn-primary btn-lg">Make Changes</button>
			<button style="width: 40%" id="post-task" type="submit" class="btn-group-mem btn btn-primary btn-lg">Post Task</button>
		</div>

	
