	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="../scripts/taskview.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAej_Btkc_ko3TrAgYkLY52elkW6bahpgk&libraries=places"
    async defer></script>
	<script id="render-navbar" type="text/x-handlebars-template">
		{{> navbar task="active"}}
	</script>

	<div style="margin-bottom: 1%; margin-left: 7%" class="vertical-align-15 left-align">
		<h2> View your task. </h2>
	</div>

	<h5 id="id" style="display: none"> {{id}} </h5>
	<h5 id="latitude" style="display: none"> {{latitude}} </h5>
	<h5 id="longitude" style="display: none"> {{longitude}} </h5>

	<div style="margin-left: 7%; margin-top: 2%; width: 85%" class="form-card left-align">
		<div class="form-input-group">
			<h6 class="user-input-h"> Title </h6>
			<div id="title" class="text-placeholder">
				<h5 class="user-input"> {{title}}</h5> 
			</div>
		</div>

		<div class="form-input-group">
			<h6 class="user-input-h"> Location </h6>
			<div id="location" class="text-placeholder"> 
				<h5 id="location-input" class="user-input">{{location}}</h5>
			</div>
		<div style="background-image: url('../imgs/loading_spinner.gif'); background-repeat: no-repeat; background-position: center;
 height: 300px" class="form-group" id="map"></div>
		</div>

		<div class="form-input-group">
			<h6 class="user-input-h"> Description </h6>
			<div id="description" class="text-placeholder">
			<h5 class="user-input">{{description}}</h5>
			</div>
		</div>

		<div class="form-input-group">
			<h6 class="user-input-h">  Instructions </h6>
			<div id="instructions" class="text-placeholder">	
				<h5 class="user-input"> {{instructions}} </h5>
			</div>
		</div>

		<div style="margin-bottom: 1%;" class="row">
			<div class="col-md-4">
				<h6 class="user-input-h"> Severity of Impacted Region </h6>
				<div id="severity"  {{#unless severity}} style="padding: 3%" {{/unless}} class="text-placeholder">
					<h5 class="user-input"> {{severity}}</h5>
				</div>
			</div>
			<div class="col-md-4">
				<h6 class="user-input-h">  Number of Volunteers </h6>
					<div id="num_volunteers" class="text-placeholder">	
					<h5 class="user-input"> {{num_volunteers}} </h5>
			</div>
			</div>

			<div class="col-md-4">
				<h6 class="user-input-h"> Date and Time </h6>
				<div id="clock-text" {{#unless clock}} style="padding: 3%" {{/unless}}  class="text-placeholder"> <h5 class="user-input"> {{clock}}</h5></div>
			</div>
		</div>


		<div class="form-input-group">
			<h6 class="user-input-h"> Disclaimers </h6>
			<div id="disclaimers-text" class="text-placeholder"> 
				{{#if disclaimers}}
				{{#list disclaimers}}
					<p>{{name}}</p>
				{{/list}}
				{{else}}
				<p style="margin-left: 1%"> There are currenly no disclaimers. </p>
				{{/if}}
			</div>
		</div>

		<div class="form-input-group">
			<h6 class="user-input-h">  Skills </h6>
			<div id="skills-text" class="text-placeholder">
			{{#if skills}}
				{{#each skills}}
					<h6><u><b> {{groupName}}</b> </u></h6>
					{{#list skills}}
						<p> {{name}}

						 {{#if extra}}
						 	: {{extra}}
						 {{/if}}

						 </p>
					{{/list}}
				{{/each}}
			{{else}}
			<p style="margin-left: 1%"> There are currenly no required skills. </p>
			{{/if}}
			 </div>	
		</div>


		<div class="form-input-group">
			<h6 class="user-input-h">  Volunteers </h6>
			<div id="volunteer-text" style="padding: 0" class="text-placeholder">
			{{#if volunteers}}
					<table id="volunteers" style="width: 100%;">
					<thead>
					<tr>
							<th style="display: none"> </th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> First Name </th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> Last Name 
							</th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> Phone Number 
							</th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> Email Address 
							</th>
					</tr>
					</thead>
					<tbody>
				{{#each volunteers}}
						<tr style="background-color:white">
							<td style="display: none"> {{id}}</td>

							<td style="border: 1px solid #dddddd;"> {{first_name}}</td>
							<td style="border: 1px solid #dddddd;"> {{last_name}} </td>
							<td style="border: 1px solid #dddddd;"> {{phone_number}} </td>
							<td style="border: 1px solid #dddddd;"> {{email}} </td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			{{else}}
				<p style="margin-left: 1%"> There are currently no volunteers signed up. </p>

			{{/if}}
			 </div>	
		</div>
	</div>


	<div>
	<center>
		<button style="width: 20%" id="edit-task" type="submit" class="btn-group-mem btn btn-primary btn-lg">Edit Task</button>
	</center>
	</div>

	
