<script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script>
  	<script type="text/javascript" src="../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
 	 <link rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

 	 <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAej_Btkc_ko3TrAgYkLY52elkW6bahpgk&libraries=places"
    async defer></script>
<script type="text/javascript" src="../scripts/create.js"></script>

{{#if newBtn}}
<script id="render-navbar" type="text/x-handlebars-template">
	{{> navbar create="active" username=username}}
</script>
{{/if}}

{{#if taskBtn}}
<script id="render-navbar" type="text/x-handlebars-template">
	{{> navbar task="active" username=username}}
</script>
{{/if}}


<div id="container">
	<div class="vertical-align-15 left-align">
		<h2> Tell us more about your task. </h2>
	</div>

	{{#if templateBtn}}
		<p id="templateID" style="display: none"> {{id}} </p>
	{{/if}}
	{{#if oldTask}}
		<p id="taskID" style="display: none">{{id}}</p>
	{{/if}}

	

	<form id="task-form" class="templates left-align">
		<h7 class="section-title"> General Information </h7>
		<div class="form-card">
			<div id="title-container" class="form-group">
				<label for="title">Title</label>
				<input required type="text" name="title" {{#if title}} value="{{title}}" {{/if}} class="form-control" id="title" placeholder="Enter title">
				<div id="title-req" style="display: none" class="form-control-feedback">This field is required. </div>

			</div>
			<div id="loc-container" class="form-group has-warning">
				<label for="location"> Location </label>
				<input id="location" class="form-control" value="{{location}}" type="text" placeholder="Search Location">
				 <div id="loc-warn" class="form-control-feedback">This will not be shown to the volunteer until they sign up.</div>

				<div id="loc-req" style="display: none" class="form-control-feedback">This field is required. </div>
			 <div style="background-image: url('../imgs/loading_spinner.gif'); background-repeat: no-repeat; background-position: center;
 height: 300px" class="form-group" id="map">

			 </div>
			 </div>
			<div class="form-group row"> 
				<div class="col-md-6">
					<label for="description">Description</label>
					<textarea class="form-control" name="description"  id="description" rows="3" placeholder="Describe your task.">{{#if description}} {{description}} {{/if}}</textarea>
				</div>
				<div class="col-md-6" style="margin-top: 3%">
				<label for="description"><i>Sample Description</i></label>

				<p> Evacuation of people from Old Union which has caught fire. </p>
				</div>
			</div>
		</div>

		<h7 class="section-title"> Task Requirements </h7>
		<div class="form-card">
			<div class="form-group row">
			<div class="col-md-6">
				<label for="instructions">Instructions</label>
				<textarea class="form-control" name="instructions" id="instructions" rows="10" placeholder="Describe instructions for your task.">{{#if instructions }} {{instructions}}{{/if}}</textarea>
			</div>
			<div class="col-md-6" style="margin-top: 7%;">
				<label for="description"><i>Sample Instructions</i></label>

				<p> Please bring your own heat-resistant gear and do not be late. There will be road-blocks leading up to the location. Just give the security your point of contact's name and you will be escorted through. </p>
			</div>
			</div>
			<div class="form-group row">
				<div class="col-md-4">
					<label for="severity">Severity of Impacted Region</label>
					<select name="severity" class="form-control" id="severity">
						{{#if severity_level}}
						<option value="Low" {{#equal severity_level 'Low'}} selected {{/equal}}>Low</option>
						<option value="Medium" {{#equal severity_level 'Medium'}} selected {{/equal}} >Medium</option>
						<option value="High" {{#equal severity_level 'High'}} selected {{/equal}}>High</option>
						{{else}}
						<option value="Low" selected>Low</option>
						<option value="Medium">Medium</option>
						<option value="High">High</option>
						{{/if}}
					</select>
				</div>

				<div class="col-md-4">
					<div id="volunteer-container" class="form-group">
					<label for="num_volunteers">Number of Volunteers</label>
					<input required type="number" min=0 name="num_volunteers" {{#if num_volunteers}} value="{{num_volunteers}}" {{/if}} class="form-control" id="num_volunteers">
				</div>

				</div>

				<div class="col-md-4">
					<label for="status">Status</label>
					<select name="status" class="form-control" id="status">
						{{#if status}}
						<option value="Scheduled" {{#equal status 'Scheduled'}} selected {{/equal}}>Scheduled</option>
						<option value="In Progress" {{#equal status 'In Progress'}} selected {{/equal}} >In Progress</option>
						<option value="Completed" {{#equal status 'Completed'}} selected {{/equal}}>Completed</option>
						<option value="Cancelled" {{#equal status 'Cancelled'}} selected {{/equal}}>Cancelled</option>
						{{else}}
						<option value="Scheduled"  selected >Scheduled</option>
						<option value="In Progress"  >In Progress</option>
						<option value="Completed" >Completed</option>
						<option value="Cancelled" >Cancelled</option>
						{{/if}}
					</select>
					<!-- <label for="background_check">Volunteer Background Check Required: </label>
					<input style="margin-left: 5px" class="form-checkbox" type="checkbox" name="background_check" id="background_check" {{#if background_check}} value="{{background_check}}" {{/if}} />   -->
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-4">
					<div id="contact-container" class="has-warning form-group">
						<label for="contact_person">Point of Contact</label>
						<input type="text" name="contact_person" {{#if point_of_contact}} value="{{point_of_contact}}" {{/if}} class="form-control" id="contact_person">
						<div id="contact-warn" class="form-control-feedback">This will not be shown to the volunteer until they sign up.</div>
					</div>

				</div>
				<div class="col-md-4">
					<div id="clock-container">
					<label for="clock">Time</label>
						<div id="clock" style="width: 100%" class=" input-group">
							<input type='text' {{#if clock}} value="{{clock}}" {{/if}} id="clock-input" class="form-control" />
							<span class="input-group-addon">
	                        	<span class="fa fa-calendar"></span>
	                    	</span>
						</div>
						<div id="clock-req" style="display: none" class="form-control-feedback">This field is required. </div>
					</div>
				</div>
				<div class="col-md-4">
				<div id="background-container" class="form-group">
						<label for="backgroundcheck">Background Check</label>
						<input type="text" name="backgroundcheck" {{#if backgroundcheck}} value="{{backgroundcheck}}" {{/if}} class="form-control" id="backgroundcheck">
					</div>
				</div>
		</div>

		<div class="form-group">
			<label for="disclaimer">Disclaimers</label>
			<small id="disclaimerHelper" class="text-muted"> Select all that apply. </small>		
			<div class="form-area" id="disclaimers"> 
				<ul class="checkbox-grid">
					{{#listnowrap disclaimers}}
					<label class="form-check-label">
						<input class="form-checkbox" type="checkbox" name="{{name}}" id="{{name}}" value="{{value}}" />  {{label}}
					</label>
					{{/listnowrap}}
				</ul>
			</div>
			<p> Don't see a disclaimer you need? Create one <a style="color: #33cccc" href="/properties"> here</a>. </p>
		</div>
	</div>

	<h7 class="section-title"> Skills </h7>
	<small id="skillHelper" class="text-muted"> Select all that apply. </small>		

	<div class="form-card">
		<div class="row">
			<div class="col-md-6 skill-column" id="skill-column-1"> {{#each skillGroupsOne}}
				<div id="{{groupName}}" class="skill-group">
					<label for="{{groupName}}">{{groupName}}</label>
					<div class="form-control">
						{{#each skills}}
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-checkbox" type="checkbox" id="{{name}}" name="{{name}}" value="{{value}}" /> {{#if label}} {{label}} {{else}} {{value}} {{/if}}
							{{#if more}}
									<input style="margin-left: 4%; width: 95%" class="more-info" id="{{moreID}}" type='text' />
								{{/if}}
							</label>
								
						</div>	
						{{/each}}
					</div>
				</div>
				{{/each}}</div>
				<div class="col-md-6 skill-column" id="skill-column-2">

					{{#each skillGroupsTwo}}
					<div id="{{groupName}}" class="skill-group">
						<label for="{{groupName}}">{{groupName}}</label>
						<div class="form-control">
							{{#each skills}}
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-checkbox" type="checkbox" id="{{name}}" name="{{name}}" value="{{value}}" /> {{#if label}} {{label}} {{else}} {{value}} {{/if}}
								{{#if more}}
									</br>
									<input style="margin-left: 4%; width: 95%" class="more-info" id="{{moreID}}" type='text' />
								{{/if}}
								</label>
								
							</div>	
							{{/each}}
						</div>
					</div>
					{{/each}}
				</div>	
			</div>
			<p> Don't see a skill you need? Create one <a style="color: #33cccc" href="/properties"> here</a>. </p>

		</div>

		{{#if taskBtn}}
		<h7 class="section-title"> Volunteers </h7>
		<div class="form-card">
			<div style="padding: 5%;">
			<h4> Add Volunteers </h4>
			<table id="users" class="hover" style="width: 100%; height: 80%"></table>
			</div>
				<div style="padding: 5%;">
				<h4> Current Volunteers </h3>
				<table id="volunteers" class="hover" style="width: 100%;">
					<thead>
					<tr>
							<th style="display: none"></th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> Name</th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> Email Address 
							</th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> Hours </th>
							<th></th>
					</tr>
					</thead>
					<tbody>
				{{#each volunteers}}
					<tr>
						<td style="display: none">{{id}}</td>
						<td style="border: 1px solid #dddddd;"> {{name}} </td>
						<td style="border: 1px solid #dddddd;"> {{email}} </td>
						<td style="border: 1px solid #dddddd;"> {{hours}} </td>
						<td style="text-align: center; border: 1px solid #dddddd;"></i> <i style="font-size: 25px" class="delete-button fa fa-trash"></i> </td>
					</tr>
				{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		{{/if}}

		{{#if taskBtn}}
			<div style="margin-left: 35%">
				<button style="width: 35%" id="save-review-task" type="submit" class="btn-group-mem btn btn-primary btn-lg">Review</button>
			</div>
		{{/if}}

		{{#if newBtn}}
		<div style="margin-left: 35%">
			<button style="width: 35%" id="save-review" type="submit" class="btn-group-mem btn btn-primary btn-lg">Review</button>
		</div>
		{{/if}}

	</form>
</div>

</body>
</html>
