	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="../scripts/taskview.js"></script>

	<script id="render-navbar" type="text/x-handlebars-template">
		{{> navbar task="active"}}
	</script>

	<div class="vertical-align-15 left-align">
		<h2> View your task. </h2>
	</div>

	<div style="width: 90%" class="form-card left-align">
		<h7> Title </h7>
		<div id="title" {{#if title}} {{else}} style="height: 30px" {{/if}} class="text-placeholder"> {{title}} </div>

		<h7> Location </h7>
		<div id="location" {{#if location}} {{else}} style="height: 30px" {{/if}} class="text-placeholder"> {{location}}</div>

		<h7> Description </h7>
		<div id="description" {{#if description}} {{else}} style="height: 30px" {{/if}} class="text-placeholder">{{description}} </div>

		<h7> Instructions </h7>
		<div id="instructions" {{#if instructions}} {{else}} style="height: 30px" {{/if}} class="text-placeholder">{{instructions}} </div>

		<div class="row" >
			<div class="col-md-4">
				<h7> Severity of Impacted Region </h7>
				<div id="severity" {{#if severity}} {{else}} style="height:25px" {{/if}} class="text-placeholder">{{severity}} </div>
			</div>
			<div class="col-md-3">
				<h7> Time of Day </h7>
				<div id="time" {{#if time}} {{else}} style="height:25px" {{/if}} class="text-placeholder"> {{time}}</div>
			</div>

			<div class="col-md-5">
				<h7> Date and Time </h7>
				<div id="clock-text" style="height: 25px" class="text-placeholder"> {{clock}}</div>
			</div>
		</div>

		<h7> Disclaimers </h7>
		<div id="disclaimers-text" {{#if disclaimers}} {{else}} style="height:100px" {{/if}} class="text-placeholder"> 
			{{#if disclaimers}}
			{{#list disclaimers}}
				<p>{{name}}</p>
			{{/list}}
			{{/if}}
		</div>

		<h7> Skills </h7>
		<div id="skills-text" {{#if skills}} {{else}} style="height:100px" {{/if}}  class="text-placeholder">
		{{#if skills}}
			{{#each skills}}
				<h6><u><b> {{groupName}}</b> </u></h6>
				{{#list skills}}
					<p> {{name}}

					 {{#if extra}}
					 	: {{extra}}
					 {{/if}}

					 </p>
				{{/list}}
			{{/each}}
		{{/if}}
		 </div>	


		<h7> Volunteers </h7>
		<div id="volunteer-text" style="padding: 5%" {{#if volunteers}} {{else}} style="height:100px" {{/if}}  class="text-placeholder">
		{{#if volunteers}}
				<table id="volunteers" style="width: 100%;">
					<thead>
					<tr>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> First Name </th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> Last Name 
							</th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> Phone Number 
							</th>
							<th style="background-color: #33cccc; border: 1px solid #dddddd;"> Email Address 
							</th>
					</tr>
					</thead>
					<tbody>
				{{#each volunteers}}
					<tr style="background-color:white">
						<td style="border: 1px solid #dddddd;"> {{first}}</td>
						<td style="border: 1px solid #dddddd;"> {{last}} </td>
						<td style="border: 1px solid #dddddd;"> {{phone}} </td>
						<td style="border: 1px solid #dddddd;"> {{email}} </td>
					</tr>
				{{/each}}
					</tbody>
				</table>
		{{/if}}
		 </div>	
	</div>



	<div>
	<center>
		<button style="width: 40%" id="edit-task" type="submit" class="btn-group-mem btn btn-primary btn-lg">Make Changes</button>
	</center>
	</div>

	
