#logo
{
	width: 2rem;
	height: 2rem;
	margin-top: 5px;
}

body
{
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 100%;
}

#login-drop
{
	color: #33cccc;
}

#login-drop:hover
{
	text-decoration: none;
}

.space
{
	margin-top: 2%;
}

.login-button
{
	color: white;
	text-align: center;
	padding: 2%;
}

#login-buttons
{
	width: 28%;
	margin-top: 6px;
}

#login-but
{
	color: white;
	text-align: center;
	padding: 2%;
	background-color: #33cccc;
	display: inline-block;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .social-buttons{
    margin:12px 0    
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb{
    color: #fff;
    width: 100%;
    background-color:#3b5998;
}

.btn-fb:hover{
    color: #fff;
    width: 100%;
    background-color:#496ebc 
}

#fb
{
	background-color: #2671EC;
}

#fb:hover
{
	text-decoration: none;
	background-color: #3F7FE9;
	color: white;
}

#email-login:hover
{
	text-decoration: none;
	background-color: #62DADA;
	color:white;
}

#email-login
{
	background-color: #33cccc;
	margin-right: 4%;
}

.right-vertical-line
{
	border-right: 1px solid #D4D8D8;
	padding-right: 1%;
}


.input-group-addon:hover
{
	cursor: pointer;
}

.add-volunteer:hover
{
	cursor: pointer;
	color: #33cccc;
}
#users
{
	border: 1px solid #dddddd;;
}

#users td
{
	border: 1px solid #dddddd;;
}


.form-check-label:hover
{
	color: #33cccc;
}

.delete-button:hover
{
	color: #D33E20;
	cursor: pointer;
}

.left-vertical-line
{
	border-left: 1px solid #D4D8D8;
	padding-right: 1%;
}

.bottom-line
{
	border-bottom: 1px solid #D4D8D8;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link
{
	color: #33cccc;
}


.center-align
{
	text-align: center;
	margin: 0 auto;

}

.centered-object-container
{
	width: 100%;
	height: 100%;
	position: absolute;
	display: table;
}

.vertical-align-25
{
	margin-top: 10%;
}

.vertical-align-15
{
	margin-top: 5%;
}

.section-title
{
	color: #828282;
	margin-top: 3%;
}
.center-text
{
	text-align: center;
}

.vertical-align-center
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.dt-button
{
	background-color: #33cccc;
	padding: 1% 2% 1% 2%;
	color: white;
	margin-right: 1%;
	border-radius: 5px;
}

.dt-buttons
{
	margin-top: 3%;
}


#edits-wrapper > .dt-buttons > .dt-button
{
	background-color: black;
}
.dt-button:hover
{
	background-color: #48A7A7;
	color: white;
	text-decoration: none;
}
.task-item-group
{
	margin-left: 10%;
	width: 80%;
	height: 80%;
	margin-top: 5%;

}

.vertical-align-5
{
	margin-top: 5%;
}

.hover
{
	cursor: pointer;
}

.left-align
{
	margin-left: 5%;
}

.mid-size-line
{
	width: 70%;
}

.templates
{
	margin-top: 2%;
}

.card
{
	width: 10rem;
	margin-bottom: 5%;
	height: 15rem;
}

.click-icon:hover
{
	cursor: pointer;
}

.card-title
{
	color: #33cccc;
}

.card:hover
{
	border-color: #33cccc;
	cursor: pointer;
}

#edit-card:hover
{
	border-color: #D33E20;
	cursor: pointer;
}

#temp-card:hover
{
	border-color: #33cccc;
	cursor: pointer;
}

.edit-button:hover
{
	color: #33cccc;
}

.card:hover
{
	border-color: #33cccc;
	cursor: pointer;
}


.card-block
{
	text-align: center;
	vertical-align: middle;
}
.btn-primary
{
	background-color: #33cccc;
	border-color: #33cccc;
	color: white;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
   /*box-shadow: 2px 2px 2px #888888;*/
}

.btn-primary:hover
{
	cursor: pointer;
}

.border-row
{
	border: 1px solid #dddddd;
}

.form-checkbox:hover
{
	cursor: pointer;
}
.padded-row-starter
{
	text-align: center; 
	padding: 5px;
}

.colored-bg
{
	background-color: #33cccc;
}

.user-input-h
{
	font-weight: bold;
}

.user-input
{
	margin-left: 1%;
}

.form-input-group
{
	margin-bottom: 2%;
}

.form-card
{
    box-shadow: 0px 1px 1px 0px #888888;
    padding: 3%;
    width: 95%;
    margin-bottom: 5%;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 50%;
    padding-bottom: 1%;

}


.checkbox-grid 
{
	padding-top: 2%;
	display: inline-block;
}

#container
{
	margin-left: 10%;
	width: 80%;
}



#footer
{
	border-top: 1px solid #D4D8D8;
	margin-top: 3%;
	height: 5%;
	bottom: 3px;
}

#footer-bigger
{
	border-top: 1px solid #D4D8D8;
	margin: 0 auto;
	height: 5%;
	bottom: 3%;
	position: absolute;
	width: 100%;
}


.button-group
{
	margin-left: 13%;
	width: 100%;
}

.btn-group-mem 
{
	margin-right: 5%;
}

th
{
	background-color: #33cccc; 
	border: 1px solid #dddddd;
	color: white;
}
.form-control
{
	background-color: #F7F7F7;
	border: solid 1px #E0E0E0;
}

.form-checkbox
{
	transform: scale(1.3);
}

.form-check
{
	width: 100%;
}

.form-check-label
{
	width: 100%;
}

input:hover
{
	border: 1px solid #33cccc;
}

textarea:hover
{
	border: 1px solid #33cccc;
}

select:hover
{
	border: 1px solid #33cccc;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


.text-placeholder
{
	background-color: #F2F2F2;
	border: solid 1px #E0E0E0;
	padding-left: 1%;
	padding: 1%;
}


.save-button:hover
{
	color: #33cccc;
}
.btn-post
{
	width: 90%;
}

.additional-information
{
	width: 100%;
}



.skill-group
{
	margin-bottom: 5%;
}
#nurse-speciality-text
{
	margin-left: 6px;
}
.form-area
{
	background-color: #F2F2F2;
	border: solid 1px #E0E0E0;
}
#logo-full
{
	width: 10rem;
	border-radius: 0;
}

.slick-prev:before
{
	color: black;
}

.slick-next:before
{
	color: black;
}

.slick-slide
{
	width: 15rem;
	margin-left: 0.2%;
	margin-bottom: 10px;
}

.btn-lg
{
	padding: .3rem 1.4rem;
}
.btn-primary:hover
{
	background-color: #33cccc;
	border-color: #33cccc;
	color: white;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
    /*box-shadow: 5px 5px 5px #888888;*/
}



